body{
    background-image: url("mothers/nav.jpg");
    font-family: 'Josefin Slab', serif;
    

}
.container{
    position: relative;
    margin: 0; 
   padding: 0;
    box-sizing: border-box;
    min-height: 500px;


}

header{
    
    background-color:#ffd9b3;
    margin: 0%;
    
     
}


ul{
    list-style-type: none;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    

}
li{
    float: left;
    font-size: 15px;

}
li a{
    display: block;
    color:  #006080;
    padding: 10px 14px;
    text-decoration: none;

}
li a:hover{
    background-color: #ffcce6;
    font-weight: bold;
    

}
i{
    font-size: 20px;
    padding: 5px;
    margin: 0px;
    transition: transform.2s;
    color: #006080;

}
i:hover{
    transform: scale(1.5);
}
.nav{
    float:left;
    padding:0%;
    color: black;
    word-spacing: 3px;

}
.left{
    float:right;
    padding: 10px;
    
}
nav{
    overflow: hidden;
    background-color:#ff66b3; 
    margin: 0%;
}

h1{
  
    color: #006080;
    font-size: 70px;
    text-align: center;
   
   
    
}
p{
    text-align: center;
    font-size: 20px;
    color:  #006080;
    
}
section{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.media{
    min-width: 0;
    margin: 5px;
   

}
img{
    width: 300px;
    max-width: 100%;
    max-height: 300px;
    padding: 5px;
    border-radius: solid  #006080;
    transition: transform .2s;
    border-radius: 30px; 

}
img:hover{
    transform: scale(1.5); 
}
h3{
font-size: 40px;
text-align: center;
color:  #006080;

}
video{
    
    margin:auto;
    display: block;
    width: 600px;
    text-align: center;
    border:2px solid #ff66b3;
}
.column {
    float: left;
    width:30%;
    padding: 10px;
    height: 300px; 
}
.column>a{
    text-decoration: none;
    display: block;
    color:  #006080;
 
} 

@media (min-width:600px) {
    .container{
        width: 100%
        
}


}